body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}