body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}