$ash-gray: #cad2c5ff;
$cambridge-blue: #84a98cff;
$hookers-green: #52796fff;
$dark-slate-gray: #354f52ff;
$charcoal: #2f3e46ff;


.mainclass {
    background-color: $charcoal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: $cambridge-blue;
    text-align: center;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: $ash-gray;
    text-align: center;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: $ash-gray;
    text-align: center;
}

a {
    color: $ash-gray;
    text-decoration: none;
    font-weight: bold;
}